body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: balck;
}

.maindiv {
  width: 600px;
  height: 600px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainsection {
  width: 350px;
  height: 500px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-family: "Roboto", "Popins", "Lato", "Inter";
  letter-spacing: 8px;
}

.lowtext {
  font-size: 30px;
}
